//*********************************************
//    Common
//*********************************************

@mixin e ($names...) {
  @if length($names) {
    @for $i from 1 through length($names) {
      @at-root &__#{nth($names, $i)} {
        @content;
      }
    }
  }
}

@mixin m ($names...) {
  @if length($names) {
    @for $i from 1 through length($names) {
      @at-root &--#{nth($names, $i)} {
        @content;
      }
    }
  }
}

@function sf-trim ($string) {
  $result: $string;
  @if (type-of($string) == list) {
    $result: ();
    $separator: list-separator($string);
    @each $item in $string {
      $result: append($result, sf-trim($item), $separator);
    }
  } @elseif (type-of($string) == string) {
    @while (str-index($string, ' ') == 1) {
      $string: str-slice($string, 2);
    }

    @while (str-slice($string, str-length($string)) == ' ') {
      $string: str-slice($string, 1, str-length($string) - 1);
    }

    $result: $string;
  }

  @return $result;
}

@function sf-implode ($glue, $list) {
  $index: 0;
  $result: '';
  $glue: unquote($glue);
  @each $item in $list {
    $item: unquote('#{unquote($item)}');
    @if ($index != 0) {
      $result: unquote('#{$result}#{$glue}');
    }
    $result: unquote('#{$result}#{$item}');
    $index: $index + 1;
  }

  @return $result;
}

@function sf-explode($glue, $string, $separator: comma) {
  @if (type-of($string) != string) {
    $string: inspect($string);
    @warn('[sf-explode] Not a string! $string: "#{$string}"');
  }
  $string: unquote($string);

  @if (type-of($glue) != string) {
    $glue: inspect($glue);
    @warn('[sf-explode] Not a string! $glue: "#{$glue}"');
  }
  $glue: unquote($glue);

  $separator: unquote($separator);
  @if ($separator == ',') {
    $separator: comma;
  } @elseif ($separator == ' ') {
    $separator: space;
  } @elseif ($separator != auto and $separator != comma and $separator != space) {
    $separator: auto;
    @warn('[sf-explode] Unknown separator! $separator: "#{$separator}"');
  }

  $result: ();
  $index: str-index($string, $glue);
  @while ($index != null) {
    $item: str-slice($string, 1, $index - 1);
    @if ($item != '') {
      $result: append($result, $item, $separator);
    }
    $string: str-slice($string, $index + 1);
    $index: str-index($string, $glue);
    @if ($index == null and $string != '') {
      $result: append($result, $string, $separator);
    }
  }

  @return $result;
}

@function sf-selector-without-placeholders($selector) {
  $list: sl-to-list($selector, ',');
  $result: ();

  @each $selector in $list {
    $selector: sf-trim($selector);
    @if (str-slice($selector, 1, 1) != '%') {
      $result: append($result, $selector, comma);
    }
  }

  $result: sf-implode(', ', $result);
  @return $result;
}

@function sf-str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + sf-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function sf-join-pathes($pathes...) {
  $result: sf-implode('/', $pathes);
  $result: sf-str-replace($result, '//', '/');
  $result: sf-str-replace($result, '//', '/');

  @return $result;
}

@function sf-is-true($input) {
  $result: false;
  @if ($input == true or $input == 1) {
    $result: true;
  }

  @return $result;
}

@function sf-important ($important: false) {
  $important: '';
  @if (sf-is-true($important)) {
    $imp: '!important';
  }

  @return unquote($important);
}

@mixin sf-component-set ($placeholder) {
  %#{$placeholder} {
    @content;
  }
}

@mixin sf-component-get ($placeholder) {
  @extend %#{$placeholder};
}
