//*********************************************
//    Framework/Mixins/Layout/Carcass
//*********************************************

//<div #{$selector-container}>
//  <div #{$selector-content-container}>
//    <main #{$selector-content} role="main">
//      <!-- content here -->
//    </main>
//  </div>
//  <aside #{$selector-sidebar-left}>
//    <!-- sidebar left here -->
//  </aside>
//  <aside #{$selector-sidebar-right}>
//    <!-- sidebar right here -->
//  </aside>
//</div>
$layout-sidebars-selector-container: '.layout-middle' !default;
$layout-sidebars-selector-content-container: '.layout-content-container' !default;
$layout-sidebars-selector-content: '.layout-content' !default;
$layout-sidebars-selector-sidebar-left: '.layout-sidebar-left' !default;
$layout-sidebars-selector-sidebar-right: '.layout-sidebar-right' !default;
$layout-sidebars-sidebar-left-width: 0 !default;
$layout-sidebars-sidebar-left-gutter: 0 !default;
$layout-sidebars-sidebar-right-width: 0 !default;
$layout-sidebars-sidebar-right-gutter: 0 !default;
@mixin sidebars (
  $selector-container: $layout-sidebars-selector-container,
  $selector-content-container: $layout-sidebars-selector-content-container,
  $selector-content: $layout-sidebars-selector-content,
  $selector-sidebar-left: $layout-sidebars-selector-sidebar-left,
  $selector-sidebar-right: $layout-sidebars-selector-sidebar-right,
  $sidebar-left-width: $layout-sidebars-sidebar-left-width,
  $sidebar-left-gutter: $layout-sidebars-sidebar-left-gutter,
  $sidebar-right-width: $layout-sidebars-sidebar-right-width,
  $sidebar-right-gutter: $layout-sidebars-sidebar-right-gutter
) {
  #{$selector-container} {
    @include clearfix;
  }

  #{$selector-sidebar-left},
  #{$selector-sidebar-right} {
    display: none;
  }

  @if (
    ($selector-sidebar-left != '' and type-of($sidebar-left-width) == number and $sidebar-left-width > 0) or
    ($selector-sidebar-right != '' and type-of($sidebar-right-width) == number and $sidebar-right-width > 0)
  ) {
    $content-padding-left: 0;
    $content-padding-right: 0;

    @if ($sidebar-left-width > 0) {
      @if (type-of($sidebar-left-gutter) != number) {
        $sidebar-left-gutter: 0;
      }
      $content-padding-left: $sidebar-left-width + $sidebar-left-gutter;

      #{$selector-sidebar-left} {
        display: block;
        float: left;
        margin-left: -100%;
        position: relative;
        width: $sidebar-left-width;
      }
    }

    @if ($sidebar-right-width > 0) {
      @if (type-of($sidebar-right-gutter) != number) {
        $sidebar-right-gutter: 0;
      }
      $content-padding-right: $sidebar-right-width + $sidebar-right-gutter;

      #{$selector-sidebar-right} {
        display: block;
        float: left;
        margin-left: -$sidebar-right-width;
        position: relative;
        width: $sidebar-right-width;
      }
    }

    #{$selector-content-container} {
      float: left;
      overflow: hidden;
      width: 100%;
    }

    #{$selector-content} {
      padding-right: $content-padding-right;
      padding-left: $content-padding-left;
    }
  }
}


//<body>
//  <div #{$selector-container}>
//    <div #{$selector-content}>
//      <!-- content here -->
//    </div>
//  </div>
//  <footer #{$selector-footer}>
//    <!-- footer here -->
//  </footer>
//</body>
$layout-sticky-footer-height: 100px !default;
$layout-sticky-footer-selector-container: '.layout' !default;
$layout-sticky-footer-selector-content: '.layout-middle' !default;
$layout-sticky-footer-selector-footer: '.layout-footer' !default;
@mixin sticky-footer (
  $height: $layout-sticky-footer-height,
  $selector-container: $layout-sticky-footer-selector-container,
  $selector-content: $layout-sticky-footer-selector-content,
  $selector-footer: $layout-sticky-footer-selector-footer
) {
  @if (type-of($height) == number and $height > 0) {
    @at-root {
      html, body {
        height: 100%;
      }
    }

    #{unquote($selector-container)} {
      margin: 0;
      width: 100%;
      min-height: 100%;
      height: auto !important;
      height: 100%;
    }

    #{unquote($selector-content)} {
      padding-bottom: $height;
    }

    #{unquote($selector-footer)} {
      margin-top: -$height;
      height: $height;
      position: relative;
      //overflow: hidden;
    }
  }
}



$layout-width-min: 960px !default;
$layout-width-max: 1200px !default;
$layout-width-side-space: 50px !default;
$layout-width-side-space-type: padding !default; // or "margin"

@mixin layout-width-min (
  $width: $layout-width-min,
  $side-space: $layout-width-side-space,
  $side-space-type: $layout-width-side-space-type
) {
  @if (type-of($width) == number and $width > 0) {
    margin-left: auto;
    margin-right: auto;

    @if (type-of($side-space) == number and $side-space > 0) {
      $side-space-type: unquote($side-space-type);
      $min-width: $width;

      @if ($side-space-type != padding) {
        $side-space-type: margin;
        $min-width: $width - $side-space*2;
      }

      min-width: $min-width;
      #{$side-space-type}-left: $side-space;
      #{$side-space-type}-right: $side-space;
    }
  }
}

@mixin layout-width-max (
  $width: $layout-width-max,
  $side-space: $layout-width-side-space,
  $side-space-type: $layout-width-side-space-type
) {
  @if (type-of($width) == number and $width > 0) {
    margin-left: auto;
    margin-right: auto;

    @if (type-of($side-space) == number and $side-space > 0) {
      $side-space-type: unquote($side-space-type);
      $max-width: $width;

      @if ($side-space-type != padding) {
        $side-space-type: margin;
        $max-width: $width - $side-space*2;
      }

      max-width: $max-width;
      #{$side-space-type}-left: $side-space;
      #{$side-space-type}-right: $side-space;
    }
  }
}

@mixin layout-width (
  $min: $layout-width-min,
  $max: $layout-width-max,
  $side-space: $layout-width-side-space,
  $side-space-type: $layout-width-side-space-type
) {

  @include layout-width-min (
    $width: $layout-width-min,
    $side-space: $layout-width-side-space,
    $side-space-type: $layout-width-side-space-type
  );

  @include layout-width-max (
    $width: $layout-width-max,
    $side-space: $layout-width-side-space,
    $side-space-type: $layout-width-side-space-type
  );
}



