//*********************************************
//    Framework/Mixins/Layout/Tile grid
//*********************************************

$tile-grid-count-in-row: 0 !default;
$tile-grid-gutter: 0 !default;
$tile-grid-gutter-horizontal: $tile-grid-gutter !default;
$tile-grid-gutter-vertical: $tile-grid-gutter !default;
$tile-grid-selector: '> *' !default;
$tile-grid-layout: $tile-grid-count-in-row !default;
@mixin grid-columns (
  $count: $tile-grid-count-in-row,
  $gutter: $tile-grid-gutter,
  $gutter-horizontal: $tile-grid-gutter-horizontal,
  $gutter-vertical: $tile-grid-gutter-vertical,
  $selector: $tile-grid-selector
) {
  @if ($count != 0) {
    #{$selector} {
      margin-top: $gutter-vertical;
      padding-left: $gutter-horizontal;
    }
    #{$selector}:nth-child(n+1):nth-child(-n+#{$count}) {
      margin-top: 0;
    }

    @for $index from 1 through $count {
      @if $index == 1 {
        #{$selector}:nth-child(#{$count}n+#{$index}) {
          @include isolation-span(1, $index, left);
        }
      }
      @else if $index < $count {
        #{$selector}:nth-child(#{$count}n+#{$index}) {
          @include isolation-span(1, $index, none);
        }
      }
      @else {
        #{$selector}:nth-child(#{$count}n+#{$index}) {
          @include isolation-span(1, $index, right);
        }
      }
    }
  }
}

@mixin grid (
  $count: $tile-grid-count-in-row,
  $gutter: $tile-grid-gutter,
  $gutter-horizontal: $tile-grid-gutter-horizontal,
  $gutter-vertical: $tile-grid-gutter-vertical,
  $selector: $tile-grid-selector,
  $layout: $tile-grid-layout
) {
  @if ($count != 0) {
    @include clearfix;
    @include add-grid($layout);
    @include add-gutter(0);

    margin-left: -$gutter-horizontal;

    @if ($selector != '') {
      @include grid-columns(
        $count: $count,
        $gutter: $gutter,
        $gutter-horizontal: $gutter,
        $gutter-vertical: $gutter,
        $selector: $selector
      );
    }
  }

  @content;
}
