$opacity-states: '' !default;
$opacity-states-normal: .8 !default;
$opacity-states-hover: 1 !default;
$opacity-states-active: .5 !default;
@if ($opacity-states != '' and $opacity-states != false) {
  #{$opacity-states} {
    @include opacity-states (
      $normal: $opacity-states-normal,
      $hover: $opacity-states-hover,
      $active: $opacity-states-active
    );
  }
}


$preview: '' !default;
$preview-image: '' !default;
$preview-image-hidpi: '' !default;
$preview-bg-inline: 1 !default;
$preview-opacity-normal: 0.8 !default;
$preview-opacity-hover: 1 !default;
$preview-opacity-active: 0.7 !default;
@if ($preview != '' and $preview != false) {
  #{$preview} {
    @include preview (
      $image: $preview-image,
      $image-hidpi: $preview-image-hidpi,
      $image-inline: $preview-bg-inline,
      $opacity-normal: $preview-opacity-normal,
      $opacity-hover: $preview-opacity-hover,
      $opacity-active: $preview-opacity-active
    );
  }
}


$arrow-block: '' !default;
$arrow-block-direction: right !default;
$arrow-block-arrow-size: 80px !default;
$arrow-block-bg-color: #FAEA26 !default;
$arrow-block-padding: 35px !default;
@if ($arrow-block != '' and $arrow-block != false) {
  #{$arrow-block} {
    @include arrow-block(
      $direction: $arrow-block-direction,
      $arrow-size: $arrow-block-arrow-size,
      $color: $arrow-block-bg-color,
      $padding: $arrow-block-padding
    );
  }
}

