$content-gutter: $base-font-size !default;

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

.v-center-table {
  display: table;
  width: 100%;
}
.v-center-cell {
  display: table-cell;
  margin-top: inherit;
  vertical-align: middle;
  width: 100%;
}

.block {
  display: block !important;
}
.block-center {
  display: block;
  margin-left   : auto;
  margin-right  : auto;
}


img {
  border: 0;
  max-width: 100%;
  height: auto;

  &[align=left], &.left, .text-left & {
    margin-right: $content-gutter;
    margin-bottom: $content-gutter /2;
  }
  &[align=right], &.right, .text-right & {
    margin-left: $content-gutter;
    margin-bottom: $content-gutter /2;
  }
  &[align=center], &[align=middle], &.center, .text-center & {
    @extend .block-center;
    margin-bottom: $content-gutter /2;
  }
}

dd {
  margin-left: $content-gutter;
}
blockquote {
  margin-left: $content-gutter *2;
  margin-right: 0;
  padding: $content-gutter $content-gutter *2;
  font-style: italic;
}
menu, ol, ul {
  padding-left: $content-gutter *2;
}
li {
  margin-bottom: $content-gutter /2;
}

.content-section, %content-section,
p, ul, ol, blockquote, table, hr, dd, menu {
  margin-bottom: $content-gutter;
  margin-top: 0;
}

.content-section, %content-section {
  @include clearfix;

  &:empty {
    display: none;
  }
}

i, em {
  font-style: italic;
}
b, strong {
  font-weight: 700;
}

table {

  &, td, th {
    border: 1px solid #c0c0c0;

    padding: $content-gutter/2 $content-gutter;
  }

  &.no-border {

    &, td, th {
      border: none;
    }
    td, th {
      padding: $content-gutter /2;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    tr:first-child {
      td, th {
        padding-top: 0;
      }
    }
    tr:last-child {
      td, th {
        padding-bottom: 0;
      }
    }
  }
}

.unlist, %unlist {
  @include unlist;
}

.unlist-item, %unlist-item {
  @include unlist-item;
}

b, strong {
  font-weight: 700;
}

a.logo, .logo a {
  @include no-border($important: true);

  img {
    display: block;
    @include no-border($important: true);
  }
}

.phone {
  white-space: nowrap;
}

.layout-content-container {

  .layout-content {
    @extend %layout-width-min;

    &:first-child {
      padding-top: $content-gutter *2;
    }
    &:last-child {
      padding-bottom: $content-gutter *2;
    }

    @include e(inner) {
      @extend %layout-width-max;

      &:empty {
        display: none;
      }
    }
  }
}

* > *:first-child {
  margin-top: 0;
}
* > *:last-child {
  margin-bottom: 0;
}

