$base-font-size: 14px !default;
$base-gutter: $base-font-size !default;

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
 * Hide visually and from screen readers:
 */
.hidden, .fake {
  @include sf-hidden($important: true);
}

.invisible {
  @include sf-invisible($important: true);
}

.visually-hidden {
  @include sf-visually-hidden;
}

.ir {
  @include sf-visually-hidden-content;
}

.clearfix {
  @include sf-clearfix;
}

.pull-left {
  @include sf-pull-left($important: true);
}
.pull-right {
  @include sf-pull-right($important: true);
}

.text-left {
  @include sf-text-left($important: true);
}
.text-center {
  @include sf-text-center($important: true);
}
.text-right {
  @include sf-text-right($important: true);
}

.block {
  @include sf-block($important: true);
}
.block-center {
  @include sf-block-center();
}

.v-center-table {
  display: table;
  width: 100%;
}
.v-center-cell {
  display: table-cell;
  margin-top: inherit;
  vertical-align: middle;
  width: 100%;
}

.unlist, %unlist {
  @include unlist;
}

.unlist-item, %unlist-item {
  @include unlist-item;
}

a.logo, .logo a {
  @include sf-no-border($important: true);
  //display: inline-block;

  img {
    display: block;
    @include sf-no-border($important: true);
  }
}

.phone {
  white-space: nowrap;
}

.asides {
  @include sf-asides(
    $selector-aside-left: '.asides__left',
    $selector-aside-right: '.asides__right',
    $selector-aside-center: '.asides__center',
    $gutter: $base-gutter
  );
}
