//*********************************************
//    Framework/Mixins/Content/Common
//*********************************************

@function get-important ($important: false) {
  $important: '';
  @if (is-true($important)) {
    $imp: '!important';
  }

  @return unquote($important);
}

@mixin focus ($important: false) {
  $important: get-important($important);

  // Default
  outline: thin dotted $important;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color $important;
  outline-offset: -2px $important;
}

@mixin unfocus ($important: false) {
  $important: get-important($important);

  outline: none $important;
  outline-offset: 0 $important;
}

@mixin no-border ($important: false) {
  $important: get-important($important);

  border: none $important;
  outline: none $important;
  text-decoration: none $important;
}

$selection-color: #b3d4fc !default;
$selection-background: #363636 !default;
$selection-text-shadow: none !default;
@mixin selection (
  $color: $selection-color,
  $background: $selection-background,
  $text-shadow: $selection-text-shadow,
  $root: false
) {
  $selector: '&';
  @if (is-true($root)) {
    $selector: '';
  }
  $selector: unquote($selector);

  #{$selector}::-moz-selection {
    color: $color;
    background: $background;
    text-shadow: $text-shadow;

    @content;
  }

  #{$selector}::selection {
    color: $color;
    background: $background;
    text-shadow: $text-shadow;

    @content;
  }
}
