//*********************************************
//    Framework/Mixins/Content/Fonts
//*********************************************

@import 'SassyLists';
@import 'sassdash';

// глобальная переменная. в неё будут добавляться все шрифты и из неё же извлекаться
$sf-fonts: ();

// стеки безопасных шрифтов
$sf-fonts-safe: (
  arial-black:      ('Arial Black', 'Helvetica CY', 'Nimbus Sans L', 'sans-serif'),
  arial:            ('Arial', 'Helvetica CY', 'Nimbus Sans L', 'sans-serif'),
  courier:          ('Courier New', 'Nimbus Mono L', 'Monospace'),
  georgia:          ('Georgia', 'Century Schoolbook L', 'serif'),
  impact:           ('Impact', 'Charcoal CY', 'sans-serif'),
  times-new-roman:  ('Times New Roman', 'Times CY', 'Nimbus Roman No9 L', 'serif'),
  trebuchet:        ('Trebuchet MS', 'Helvetica CY', 'sans-serif'),
  verdana:          ('Verdana', 'Geneva CY', 'DejaVu Sans', 'sans-serif'),
  tahoma:           ('Tahoma', 'Geneva CY', 'sans-serif')
);

// поумолчательные параметры шрифтов
$sf-fonts-types: (
  regular:      (weight: normal, style: normal),
  bold:         (weight: 700,    style: normal),
  italic:       (weight: normal, style: italic),
  bold-italic:  (weight: 700,    style: italic)
);


@function sf-fonts-add ($fonts) {
  $_fonts: $fonts;

  @if (not is-list($_fonts)) {
    $_fonts: ($_fonts,);
  }

  @each $font in $_fonts {
    @if (is-map($font) and map-has-key($font, name) and map-has-key($font, stack)) {
      $name: map-get($font, name);
      $type: if(map-has-key($font, type), map-get($font, type), regular);
      $type: if(not is-null(map-get($sf-fonts-types, $type)), $type, regular);
      $type: unquote($type);

      $stack: _flatten(map-get($font, stack));

      $options: _defaults((
        stack:  $stack,
        weight: unquote(map-get($font, weight)),
        style:  unquote(map-get($font, style))
      ), map-get($sf-fonts-types, $type));

      $_font:  if(map-has-key($sf-fonts, $name), map-get($sf-fonts, $name), ());
      $_types: map-set($_font, $type, $options);
      // @return $options;
      $sf-fonts: map-set($sf-fonts, $name, $_types) !global;
    }
  }

  @return $sf-fonts;
}

@function sf-fonts-get ($name, $type: regular) {
  @return map-get-deep($sf-fonts, $name, $type);
}

@function _sf-fonts-get-stack ($var) {
  @if (not is-null($var)) {
    $stack: if(is-map($var), map-get($var, stack), $var);
    @return if(not is-null($stack), sl-to-list($stack, comma), null);
  }
}

@function sf-fonts-get-stack ($name, $type: regular) {
  $font-data: map-get-deep($sf-fonts, $name, $type);
  @return _sf-fonts-get-stack($font-data);
}

@mixin sf-font ($name, $type: regular) {
  $font-data: sf-fonts-get($name, $type);

  @if (not is-null($font-data)) {
    font-family: _sf-fonts-get-stack($font-data);
    font-weight: map-get($font-data, weight);
    font-style: map-get($font-data, style);
  }
};


// добавим стандартные безопасные стеки шрифтов
@each $name, $stack in $sf-fonts-safe {
  @each $type, $options in $sf-fonts-types {
    $font: (
      name:   $name,
      stack:  $stack,
      type:   $type,
      weight: map-get($options, weight),
      style:  map-get($options, style)
    );
    $sf-fonts: sf-fonts-add($font);
  }
}

// и, не отходя от кассы, добавим популярные веб-шрифты
$tahomaStack: sf-fonts-get-stack(tahoma);

$sf-fonts: sf-fonts-add((
  (name: ptsans, type: regular,     stack: sl-prepend($tahomaStack, "PTSans")),
  (name: ptsans, type: italic,      stack: sl-prepend($tahomaStack, "PTSansItalic")),
  (name: ptsans, type: bold,        stack: sl-prepend($tahomaStack, "PTSansBold")),
  (name: ptsans, type: bold-italic, stack: sl-prepend($tahomaStack, "PTSansBoldItalic")),
));
