//*********************************************
//    Framework/Mixins/Content/Links
//*********************************************

$link-color-normal: #0d44a0 !default;
$link-color-hover: $link-color-normal !default;
$link-color-focus: $link-color-normal !default;
$link-color-active: #ff0000 !default;
$link-color-visited: $link-color-normal !default;
$link-border-color-normal: rgba($link-color-normal, .7) !default;
$link-border-color-hover: $link-color-hover !default;
$link-border-color-focus: $link-color-focus !default;
$link-border-color-active: $link-color-active !default;
$link-border-color-visited: $link-color-visited !default;
$link-border-width-normal: 0 0 1px 0 !default;
$link-border-width-hover: $link-border-width-normal !default;
$link-border-width-focus: $link-border-width-normal !default;
$link-border-width-active: $link-border-width-normal !default;
$link-border-width-visited: $link-border-width-normal !default;
@mixin link (
  $color-normal: $link-color-normal,
  $color-hover: $link-color-hover,
  $color-focus: $link-color-focus,
  $color-active: $link-color-active,
  $color-visited: $link-color-visited,
  $border-color-normal: $link-border-color-normal,
  $border-color-hover: $link-border-color-hover,
  $border-color-focus: $link-border-color-focus,
  $border-color-active: $link-border-color-active,
  $border-color-visited: $link-border-color-visited,
  $border-width-normal: $link-border-width-normal,
  $border-width-hover: $link-border-width-hover,
  $border-width-focus: $link-border-width-focus,
  $border-width-active: $link-border-width-active,
  $border-width-visited: $link-border-width-visited,
  $transition: .2s ease-out
) {
  cursor: pointer;
  text-decoration : none;
  border-style: solid;
  transition: color $transition, border-width $transition, border-color $transition;

  @include link-colors($color-normal, $color-hover, $color-active, $color-visited, $color-focus);
  border-color: $border-color-normal;
  border-width: $border-width-normal;

  #{$visited} {
    color: $color-visited;
    border-color: $border-color-visited;
    border-width: $border-width-visited;
  }
  #{$hovered} {
    color: $color-hover;
    border-color: $border-color-hover;
    border-width: $border-width-hover;

    #{$focused} {
      @include unfocus();

      color: $color-hover;
      border-color: $border-color-hover;
      border-width: $border-width-hover;
    }
  }
  #{$focused} {
    @include focus();

    color: $color-focus;
    border-color: $border-color-focus;
    border-width: $border-width-focus;
  }
  #{$actived} {
    color: $color-active;
    border-color: $border-color-active;
    border-width: $border-width-active;

    #{$focused} {
      @include unfocus();

      color: $color-active;
      border-color: $border-color-active;
      border-width: $border-width-active;
    }

    // #{$hovered} {
    //  border-color: $border-normal-color;
    // }
  }

  .no-rgba & {
    border: none;
    text-decoration: underline;
  }
};

@mixin link-pseudo () {
  border-style: dashed;
}

