$base-font-size: 14px !default;
$base-line-height: 17px !default;
$base-color: #5e5e5e !default;
$base-font: tahoma !default;

$selection-color: #363636 !default;
$selection-background: #b3d4fc !default;
$selection-text-shadow: none !default;

$color-scheme-white: #fff !default;
$color-scheme-green: #30bb43 !default;

$fonts: (
  //(name: roboto, type: regular, font: font-stack(RobotoRegular, tahoma), weight: 400, style: normal),
  //(name: roboto-italic, type: regular, font: font-stack(RobotoItalic, tahoma), weight: 400, style: italic),
  //(name: roboto-bold, type: regular, font: font-stack(RobotoBold, tahoma), weight: 700, style: normal),
  //(name: roboto-bold-italic, type: regular, font: font-stack(RobotoBoldItalic, tahoma), weight: 700, style: italic)
) !default;

$validated-error-color: #ff0000 !default;
$validated-success-color: #3a9814 !default;

$background-size-behavior: '/js/vendor/backgroundsize.min.htc' !default;

//*********************************************
//    States
//*********************************************
$hovered: unquote('&:hover, &.hover') !default;
$focused: unquote('&:focus, &.focus') !default;
$actived: unquote('&:active, &.active') !default;
$visited: unquote('&:visited, &.visited') !default;
$disabled: unquote('&.disabled, &[disabled], fieldset[disabled] &') !default;

$validated-error: unquote('.error > &, &.error') !default;
$validated-success: unquote('.success > &, &.success') !default;

$required: unquote('.required > &') !default;
$text-inputs: unquote('input[type=text], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week]') !default;
$inputs: unquote('#{$text-inputs}, textarea') !default;

