//*********************************************
//    Carcass
//*********************************************

$layout-sidebars-selector-container: '.layout-middle' !default;
$layout-sidebars-selector-content-container: '.layout-content-container' !default;
$layout-sidebars-selector-content: '.layout-content' !default;
$layout-sidebars-selector-sidebar-left: '.layout-sidebar-left' !default;
$layout-sidebars-selector-sidebar-right: '.layout-sidebar-right' !default;

$layout-sticky-footer-height: 100px !default;
$layout-sticky-footer-selector-container: '.layout' !default;
$layout-sticky-footer-selector-content: '.layout-middle' !default;
$layout-sticky-footer-selector-footer: '.layout-footer' !default;

$layout-width-selector: '.layout-width, %layout-width' !default;
$layout-width-min: 960px !default;
$layout-width-max: 1200px !default;
$layout-width-side-space: 20px !default;
$layout-width-side-space-type: padding !default; // or "margin"

$layouts: (
  index: (
    container: '',
    layout: (
      sidebars: (
        'selector-container': $layout-sidebars-selector-container,
        'selector-content-container': $layout-sidebars-selector-content-container,
        'selector-content': $layout-sidebars-selector-content,
        'selector-sidebar-left': $layout-sidebars-selector-sidebar-left,
        'selector-sidebar-right': $layout-sidebars-selector-sidebar-right,
        'sidebar-left-width': 150px,
        'sidebar-left-gutter': 20px,
        'sidebar-right-width': 0,
        'sidebar-right-gutter': 0
      ),
      'sticky-footer': (
        'height': $layout-sticky-footer-height,
        'selector-container': $layout-sticky-footer-selector-container,
        'selector-content': $layout-sticky-footer-selector-content,
        'selector-footer': $layout-sticky-footer-selector-footer
      ),
      width: (
        'selector': $layout-width-selector,
        'min': $layout-width-min,
        'max': $layout-width-max,
        'side-space': $layout-width-side-space,
        'side-space-type': $layout-width-side-space-type // or "margin"
      )
    )
  )
) !default;
