//*********************************************
//    Framework/Mixins/Content/Forms/Buttons
//*********************************************

$base-font-size:    14px !default;
$base-line-height:  24px !default;

$is-hovered:  unquote('&:hover, &.is-hovered') !default;
$is-focused:  unquote('&:focus, &.is-focused') !default;
$is-active:   unquote('&:active, &.is-active') !default;
$is-visited:  unquote('&:visited, &.is-visited') !default;
$is-required: unquote('&.is-required, &[required]') !default;
$is-disabled: unquote('&.is-disabled, &[disabled], fieldset[disabled] &') !default;
$is-error:    unquote('&.is-error') !default;
$is-success:  unquote('&.is-success') !default;

@mixin sf-btn () {
  appearance: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  background: none;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  border-style: solid;
  border-color: transparent;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  outline: 0 none;
  user-select: none;

  &::-moz-focus-inner {
    padding: 0 !important;
    margin: 0 !important;
    //border: 0 !important;
    //margin-top: -2px !important;
    //margin-bottom: -2px !important;
  }

//  #{$is-active},
  #{$is-focused} {
    @include sf-focus();

    #{$is-hovered} {
      @include sf-unfocus();
    }
  }

  #{$is-hovered},
  #{$is-focused} {
    text-decoration: none;
  }

  #{$is-active} {
    outline: 0;
    background-image: none;
  }

  #{$is-disabled} {
    cursor: default;
    opacity: .65;
    box-shadow: none;
    pointer-events: none;
  }

  @include e(inner) {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    vertical-align: middle;
    white-space: normal;
  }
}

@mixin sf-btn--size (
  $height:                auto,
  $font-size:             $base-font-size,
  $line-height:           $base-line-height,
  $border-width:          1px,
  $padding:               5px 10px,
  $active-offset:         1px,
  $active-offset-type:    inner // inner/outer/false
) {

  $styles: sf-control-sizes(
    $height:       $height,
    $font-size:    $font-size,
    $line-height:  $line-height,
    $border-width: $border-width,
    $padding:      $padding
  );

  @include sf-styles($styles, $exclude-values: null auto);

  #{$is-active} {
    $active-type: unquote($active-offset-type);

    @if ($active-type == inner) {
      $padding-top:     map-get($styles, padding-top);
      $padding-bottom:  map-get($styles, padding-bottom);

      @debug($padding-top + $active-offset);
      @debug($padding-bottom - $active-offset);

      padding-top: $padding-top + $active-offset;
      padding-bottom: $padding-bottom - $active-offset;
    } @elseif ($active-type == outer) {
      position: relative;
      top: $active-offset;
    }
  }
}

@mixin sf-btn--block () {
  display: block;
  width: 100%;
  white-space: normal;
}

@mixin sf-btn--variant (
  $color-normal,
  $color-hover:         null,
  $color-focus:         null,
  $color-active:        null,
  $color-bg-normal:     #ccc,
  $color-bg-hover:      null,
  $color-bg-focus:      null,
  $color-bg-active:     null,
  $color-border-normal: transparent,
  $color-border-hover:  null,
  $color-border-focus:  null,
  $color-border-active: null,
  $border-radius:       none
) {
  @if (is-null($color-hover)) {
    $color-hover: $color-normal;
  }
  @if (is-null($color-focus)) {
    $color-focus: $color-hover;
  }
  @if (is-null($color-active)) {
    $color-active: $color-hover;
  }
  @if (is-null($color-bg-normal)) {
    $color-bg-normal: #ccc;
  }
  @if (is-null($color-bg-hover)) {
    $color-bg-hover: $color-bg-normal;
  }
  @if (is-null($color-bg-focus)) {
    $color-bg-focus: $color-bg-hover;
  }
  @if (is-null($color-bg-active)) {
    $color-bg-active: $color-bg-hover;
  }
  @if (is-null($color-border-normal)) {
    $color-border-normal: transparent;
  }
  @if (is-null($color-border-hover)) {
    $color-border-hover: lighten($color-border-normal, 2%);
  }
  @if (is-null($color-border-focus)) {
    $color-border-focus: $color-border-hover;
  }
  @if (is-null($color-border-active)) {
    @if (is-color($color-border-normal)) {
      // если пришёл обычный цвет, то затемним его.
      $color-border-active: darken($color-border-normal, 2%);
    } @else {
      // если пришло что-то другое, то уйдёт в соответствующий миксин и там обработается
      $color-border-active: $color-border-normal;
    }
  }

  color: $color-normal !important;
  border-color: $color-border-normal;
  border-radius: $border-radius;

  @include sf-control-background($color: $color-bg-normal, $direction: to bottom);

  &,
  & > * {
    @include sf-selection(
      $color: $color-normal,
      $background: transparent
    );
  }

  #{$is-focused} {
    color: $color-focus !important;
    border-color: $color-border-focus;

    @include sf-control-background($color: $color-bg-focus, $direction: to bottom);

    &,
    & > * {
      @include sf-selection(
        $color: $color-focus,
        $background: transparent
      );
    }
  }

  #{$is-hovered} {
    //&,
    //#{$is-focused} & {
      color: $color-hover !important;
      border-color: $color-border-hover;

      @include sf-control-background($color: $color-bg-hover, $direction: to bottom);

      &,
      & > * {
        @include sf-selection(
          $color: $color-hover,
          $background: transparent
        );
      }
    //}
  }

  #{$is-active} {
    color: $color-active !important;
    border-color: $color-border-active;

    @if ($color-bg-hover == $color-bg-active) {
      // reverse
      @include sf-control-background($color: $color-bg-active, $direction: to top);
    } @else {
      @include sf-control-background($color: $color-bg-active, $direction: to bottom);
    }

    &,
    & > * {
      @include sf-selection (
        $color: $color-active,
        $background: transparent
      );
    }
  }

  #{$is-disabled} {
    &,
    #{$is-hovered},
    #{$is-focused},
    #{$is-active} {
      color: $color-normal !important;
      border-color: $color-border-normal;

      @include sf-control-background($color: $color-bg-normal, $direction: to bottom);
    }
  }
}

@mixin sf-btn--file {
  position: relative;

  input[type=file] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
}




