//*********************************************
//    Framework/Mixins/Content/Forms/Inputs
//*********************************************

$base-font-size:    14px !default;
$base-line-height:  24px !default;
$base-color:        #3b3b3b !default;

$is-hovered:  unquote('&:hover, &.is-hovered') !default;
$is-focused:  unquote('&:focus, &.is-focused') !default;
$is-active:   unquote('&:active, &.is-active') !default;
$is-visited:  unquote('&:visited, &.is-visited') !default;
$is-required: unquote('&.is-required, &[required]') !default;
$is-disabled: unquote('&.is-disabled, &[disabled], fieldset[disabled] &') !default;
$is-error:    unquote('&.is-error') !default;
$is-success:  unquote('&.is-success') !default;

@mixin sf-input () {
  //appearance: none;
  display: inline-block;
  background-color: #fff;
  background-image: none;
  border-style: solid;
  border-color: transparent;
  border-radius: 0;
  text-align: left;
  vertical-align: middle;
  outline: 0 none;

  #{$is-focused} {
    @include sf-unfocus();
  }

  #{$is-hovered},
  #{$is-focused} {
    text-decoration: none;
  }

  #{$is-active} {
    outline: 0;
  }

  #{$is-disabled} {
    cursor: default;
    opacity: .65;
    box-shadow: none;
    pointer-events: none;
  }
}

@mixin sf-input--size (
  $height:                auto,
  $font-size:             $base-font-size,
  $line-height:           $base-line-height,
  $border-width:          1px,
  $padding-vertical:      5px,
  $padding-horizontal:    10px,
  //$lines:                 1,
  $min-width:             200px
) {

  $styles: sf-control-sizes(
    $height:                $height,
    $font-size:             $font-size,
    $line-height:           $line-height,
    $border-width:          $border-width,
    $padding-vertical:      $padding-vertical,
    $padding-horizontal:    $padding-horizontal
  );

  $styles: map-set(
    $styles,
    min-width,
    if(is-measure($min-width) and $min-width > 0, $height, auto)
  );

  @include sf-styles($styles, $exclude-values: null auto);
}

@mixin sf-input--block () {
  display: block;
  width: 100%;
  white-space: normal;
}

@mixin sf-input__placeholder () {
  &::-webkit-input-placeholder  { @content; }
  &::-moz-placeholder           { @content; }
  &:-moz-placeholder            { @content; }
  &:-ms-input-placeholder       { @content; }
}

@mixin sf-input--variant (
  $color-normal:        $base-color,
  $color-hover:         $color-normal,
  $color-focus:         $color-hover,
  $color-active:        $color-hover,
  $color-bg-normal:     #fff,
  $color-bg-hover:      $color-bg-normal,
  $color-bg-focus:      $color-bg-normal,
  $color-bg-active:     $color-bg-normal,
  $color-border-normal: #ccc,
  $color-border-hover:  darken($color-border-normal,10%),
  $color-border-focus:  darken($color-border-normal, 20%),
  $color-border-active: darken($color-border-normal, 20%),
  $border-radius: 3px
) {
  color: $color-normal !important;
  border-color: $color-border-normal;
  border-radius: $border-radius;

  @include sf-control-background($color: $color-bg-normal, $direction: to bottom);
  @include sf-input__placeholder() {
    transition: opacity .1s ease-out;
    color: $color-normal;
    opacity: .7;
  };

  //#{$is-focused},
  #{$is-hovered} {
    color: $color-hover !important;
    border-color: $color-border-hover;

    @include sf-control-background($color: $color-bg-hover, $direction: to bottom);
  }

  #{$is-focused} {
    color: $color-focus !important;
    border-color: $color-border-focus;

    @include sf-control-background($color: $color-bg-focus, $direction: to bottom);
    @include sf-input__placeholder() {
      opacity: .9;
    };
  }

  #{$is-active} {
    color: $color-active !important;
    border-color: $color-border-active;

    @include sf-control-background($color: $color-bg-active, $direction: to bottom);
  }

  #{$is-disabled} {
    &,
    #{$is-hovered},
    #{$is-focused},
    #{$is-active} {
      color: $color-normal !important;
      border-color: $color-border-normal;

      @include sf-control-background($color: $color-bg-normal, $direction: to bottom);
    }
  }
}

@mixin sf-input--required () {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    //right: 0;
    //top: 0;

    @content;
  }
  #{$inputs} {
    display: block;
    width: 100%;
  }
}

